h1 {
    color: green;
    text-align: center;
}
p {
    width: 100%;
    text-align: justify;
    font-style: italic;
    margin-top: 1cm;
    margin-bottom: 1cm;
}
table, th, td {
    border-collapse: collapse;
    width: 600px;
    
}
th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid black;

}
a:hover {
    background-color:aqua;
}
@media (max-width="780px") {
    table {
        display: block;
    }
    
    
}
